<html>
  <head>
    <title>HTMXX</title>
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/remove-me.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
    <link rel="stylesheet" href="/static/css/tailwind.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      .htmx-indicator {
        opacity: 0;
        height: 0;
        transition: opacity 500ms ease-in;
      }

      .htmx-request .htmx-indicator {
        height: auto;
        opacity: 1;
      }

      .htmx-request.htmx-indicator {
        height: auto;
        opacity: 1;
      }
    </style>
  </head>

  <body hx-ext="sse" sse-connect="/events" hx-boost="true" class="bg-gray-400">
    <header
      class="bg-gray-800 text-white p-4 flex text-2xl items-center"
      hx-get="/"
      hx-target="body"
      hx-push-url="true"
    >
      <span class="font-bold">&lt;</span>
      <span class="font-bold text-[#3D72D7]">/</span>
      <span class="font-bold">&gt;</span>
      <span class="font-bold">htm<span class="text-[#3D72D7]">x</span></span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        width="100"
        height="100"
        viewBox="0 0 30 30"
        class="w-5 h-5 fill-[#3D72D7]"
      >
        <path
          d="M26.37,26l-8.795-12.822l0.015,0.012L25.52,4h-2.65l-6.46,7.48L11.28,4H4.33l8.211,11.971L12.54,15.97L3.88,26h2.65 l7.182-8.322L19.42,26H26.37z M10.23,6l12.34,18h-2.1L8.12,6H10.23z"
        ></path>
      </svg>
    </header>
    <div class="container mx-auto p-4 items-center justify-center">
      {{ template "content" . }}
    </div>
  </body>
</html>
