{{ define "tweet" }}
<div id="tweet-{{ .ID }}" class="border border-gray-200 rounded-lg p-4">
  <div class="flex items-start p-4 space-x-2">
    <span class="relative flex shrink-0 overflow-hidden rounded-full w-12 h-12">
      <img
        class="aspect-square h-full w-full"
        alt="username"
        src="/static/placeholder-user.jpg"
        hx-get="/{{ .Author }}"
        hx-target="body"
        hx-push-url="true"
      hx-swap="outerHTML"
      />
    </span>
    <div class="flex-col flex-1">
      <div
        class="grid gap-1.5 text-sm"
        hx-get="/tweet/{{ .ID }}"
        hx-target="body"
        hx-swap="outerHTML"
        hx-push-url="true"
      >
        <div class="flex-col w-full items-center gap-1.5">
          <div id="tweet-{{ .ID }}-author">
            <a
              class="font-medium"
              hx-get="/{{ .Author }}"
              hx-target="body"
              hx-push-url="true"
              hx-swap="outerHTML"
            >
              {{ .Author }}
            </a>
          </div>
          <div id="tweet-{{ .ID }}-created">
            <span class="text-gray-600 text-xs">
              {{ .Created.Format "2006-01-02 15:04:05" }}
            </span>
          </div>
        </div>
        <div class="text-sm">
          <article class="prose" hx-disable>{{ .Content }}</article>
        </div>
      </div>

      <div class="grid gap-1.5 text-sm">
        <div class="flex items-center gap-4 text-xs">
          {{ template "likeButton" . }}
        </div>
      </div>
    </div>
  </div>
</div>

{{ end }}
