{{ define "timeline"}}
<div id="timeline" class="grid grid-cols-1 gap-2">
  {{ range . }} {{ template "tweet" . }} {{ end }} {{ if (gt (len .) 5) }}
  <div
    id="inf-scroll"
    hx-get="/page/{{ (index . 5).Author }}/{{ (index . 5).ID }}"
    hx-target="#timeline"
    hx-select="#timeline"
    hx-swap="afterend"
    hx-trigger="revealed"
  >
    <div class="flex gap-2 w-full justify-center htmx-indicator">
      <div class="w-5 h-5 rounded-full animate-pulse bg-blue-600"></div>
      <div class="w-5 h-5 rounded-full animate-pulse bg-blue-600"></div>
      <div class="w-5 h-5 rounded-full animate-pulse bg-blue-600"></div>
    </div>
  </div>
  {{ end }}
</div>
{{ end }}
